:root {
    --def-main-color: #161616;
    --def-add-color: #383838;
    --def-secondary-text: #c2c2c2;
    --def-point-color: #f58529;
    --def-current-time-bg: #ff0000;
    --def-skill-bar-bg: #1db954;
    --def-fst-code-color: #0090ff;
    --def-scnd-code-color: #ff0000;
    --def-thrd-code-color: #05dc00;
    --def-footer-color: #ffffff;
    --def-gotham-font: 'Gotham', sans-serif;
    --def-roboto-font: 'Roboto', sans-serif;
    --def-comfortaa-font: 'Comfortaa', Arial
}

body {
    margin: 0
}

ul {
    padding: 0
}

li {
    list-style-type: none
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

a:visited {
    color: inherit
}

#page-wrap {
    margin: 0 auto;
    width: 940px;
    height: 100vh
}

header {
    display: flex

}

.tile {
    flex: 1
}

aside {
    flex: none !important;
    width: 400px;
    color: var(--def-secondary-text);
    font-family: var(--def-gotham-font);
    font-weight: 400
}

#headline-out-wrap {
    display: grid
}

nav {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px
}

#nav-list {
    height: 100%;
    display: flex;
    align-items: center;
    transition: .25s;
    background: var(--def-main-color);
    transition-timing-function: ease-in;
    transform: translateY(-50px)
}

.nav-list-point {
    font-family: var(--def-comfortaa-font);
    padding: 0 20px
}

.nav-list-point a {
    color: var(--def-footer-color)
}

#headline-in-wrap {
    display: flex;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 0 20px;
    line-height: 15px
}

#headline-in-wrap > div {
    width: 100%
}

#headline-name {
    font-family: var(--def-comfortaa-font);
    font-weight: 700;
    font-size: 36px;
    text-align: left
}

#headline-dev {
    font-family: var(--def-comfortaa-font);
    font-weight: medium;
    font-size: 28px;
    text-align: right
}

#separator-bar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--def-main-color);
    margin-top: -4px
}

#padding-wrap {
    padding: 20px;
    background: var(--def-add-color)
}

.headline-section {
    font-family: var(--def-roboto-font);
    font-weight: 500;
    font-size: 30px;
    text-transform: lowercase;
    color: #fff
}

#headline-about {
    padding: 0 20px
}

#headline-introduction {
    font-style: italic;
    font-weight: 300;
    text-transform: uppercase;
    background: #c92b2b;
    color: #000;
    padding: 15px 40px
}

#about-text {
    margin: 0;
    font-family: var(--def-roboto-font);
    font-weight: 300;
    text-align: justify;   
    color: #fff
}

#interested-list {
    padding: 0;
    display: flex;   
    justify-content: space-evenly
}

.interested-item {
    font-size: 30px;
    color: var(--def-secondary-text)
}

.interested-sep {
    font-size: 30px
}

.content-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    font-family: var(--def-roboto-font);
    font-weight: bold
}

.content-headline {
    text-align: center;
    font-family: var(--def-roboto-font);
    margin-bottom: 20px
}

.education-list-item {
    display: flex
}

.education-list-item h4 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0
}

.education-list-point {
    display: block;
    width: 10px;
    height: 10px;
    border: solid #000 2px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: var(--def-point-color);
    margin: 5px 25px;
    z-index: 2
}

#first-time-point:after {
    content: '';
    display: block;
    margin: auto;
    position: relative;
    width: 2px;
    height: 2200%;
    background-color: #000;
    z-index: -1
}

.education-time {
    word-wrap: break-word;
    font-size: 18px;
    flex: none
}

.education-establishment {
    margin: 0;
    font-size: 16px
}

#current-time-point {
    background: var(--def-current-time-bg)
}

.skill-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0
}

.skill-list-item * {
    flex: 1;
    margin: 0 20px 0 10px
}

.skill-text {
    text-align: right;
    font-family: var(--def-comfortaa-font);
    font-weight: 100
}

.skill-bar {
    height: 20px;
    margin: -3px 50px 0 0;
    border: solid 1px #000;
    border-radius: 0
}

.skill-bar-bg {
    height: 100%;
    margin: 0;
    background: var(--def-skill-bar-bg)
}

#section-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--def-gotham-font)
}

#section-code-headline {
    font-size: 30px;
    font-weight: bold
}

#section-code-wrap {
    width: 100%;
    max-width: 600px;
    text-align: justify;
    box-sizing: border-box;
    background: #f7f7f7;
    padding: 0 15px
}

.code-desc {
    font-weight: bold
}

code {
    font-size: 12px
}

.blue-code {
    color: var(--def-fst-code-color)
}

.red-code {
    color: var(--def-scnd-code-color)
}

.green-code {   
    color: var(--def-thrd-code-color)
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 100px;
    padding: 0 20px;
    margin-top: 40px;
    background: var(--def-main-color);
    font-family: var(--def-comfortaa-font);
    font-weight: bold;
    font-size: 14px;
    color: var(--def-footer-color)
}

.footer-tile {
    display: flex;
    align-items: center
}

#github-img {
    margin-right: 10px;
    font-size: 3rem
}