:root {
    --main-background: #292929;
    --text-color: #f8c521
}

h2 {
    font-weight: 400
}

p {
    font-weight: 300
}

strong {
    font-weight: 500;
    color: rgb(255, 0, 51)
}

body {
    background: var(--main-background);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color)
}

#content-wrap {
    margin: 0 auto;
    max-width: 70%;
    width: 1200px;
    background: #161616;
    padding: 20px;
    box-sizing: border-box
}

#headline {
    font-weight: 600;
    margin: 0
}

hr {
    border-color: #f8c521
}

main {
    padding: 10px 0
}

.list li {
    font-weight: 500;
    padding: 3px 0
}   

#contacts-list {
    width: 300px
}

#contacts-list span::before {
    content: '\00a0'
}

.fas, .fab {
    width: 12px
}

code {
    font-family: monospace;
    padding: 3px 0;
}

